#!/bin/sh
hostip=$(hostname -I)
echo ".------------------------------------------------------------------------."
echo "|                                                                        |"
echo "|               ISAS-FSD {{ inventory_hostname }} ${hostip}                   |"
echo "|                                                                        |"
echo "|         please contact nicolas.borboen@epfl.ch for details             |"
echo "'------------------------------------------------------------------------'"
echo
